.info {
  padding: 25px;
}
.info__container {
  max-width: 1000px;
  margin: 0 auto;
}
.info__div {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.info__icon {
  width: 5px;
  height: 15px;
}
.info__top {
  font-size: 30px;
  max-width: 320px;
}
.info__img {
  margin: -100px;
}