.info {
  padding: 25px;
  &__container {
    max-width: 1000px;
    margin: 0 auto;
  }
  &__div {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }
  &__icon {
    width: 5px;
    height: 15px;
  }
  &__top {
    font-size: 30px;
    max-width: 320px;
  }
  &__img {
    margin: -100px;
  }
}
