.service {
  &__cntainer {
    max-width: 1200px;
    margin: 0 auto;
  }
  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }
  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
  }
  &__div {
    max-width: 300px;
    height: 200;
  }
}
