.nav {
  display: flex;
  margin: 100px;
  padding: 50px;
  border: 50px;
}
.nav div {
  border: 15px;
  padding: 15px;
  margin: 10px;
  display: inline-block;
  vertical-align: middle;
}
.service {
  border-spacing: 20px;
}
